body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #22668a;
}

.icon-margin {
  margin-right: 10px;
  margin-left: 20px;
}

.custom-margin {
  margin-right: 10px;
  margin-left: 50px;
}

.btn-primary {
  background-color: #22668a;
}

.category-aktif {
  background-color: #22668a;
  color: white;
}

.float-right {
  padding-right: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media only screen and (max-height: 1000px) {
  .hasil {
    height: 700px;
  }

  .menu {
    height: 840px;
  }
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}
